@(title: String)(content: Html)
<html lang="en">
<head>
    <title>Twitter API</title>
</head>
<body style="background-color: black">
<div class = "container" style ="height:100%; margin:0px; border:0px">
    <div id = "header">
        <h1 style="color:#DA70D6; padding:5px; text-align:center">@title</h1>
        <p style="text-align:center"><em style="color:#DA70D6"> Accessing your twitter account is now made easier</em></p>
        <p style = "color:white">If you are not on Twitter, You can <a href = "https://twitter.com/">SignUp </a> now</p>
    </div>
    <div>
        <p style = "color:white">
        <a href="/twitter">Click</a> here to access your twitter account
        </p>
        <ol>
            <li>Running a server</li>
            <li>Testing the application</li>
            <li>Deploying it to Heroku</li>
            <li>Creating a production build</li>
        </ol>
    </div>
    <div>
        <h2>More Information</h2>
        <p>This template focuses on exposing RESTful JSON API.</p>
        <p>You won't find there any views, instead, you will be able to build solid endpoints for some frontend or mobile applications.</p>
    </div>
</div>
</body>
</html>
